@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="fa-solid fa-user-tie mr-2" style="color: #52a4b9;"></i>Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="UsersToCategory" asp-action="Index">User Categories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-controller="MediaType" asp-action="Index">Media Types</a>
        </div>

    </li>
}

else if(!SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#Courses"><i class="fa-solid fa-book-open mr-2" style="color: #52a4b9;"></i>Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="#Contact"><i class="fa-solid fa-phone-volume mr-2" style="color: #52a4b9;"></i>Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="#About"><i class="fa-solid fa-circle-info mr-2" style="color: #52a4b9;"></i>About Us</a>
    </li>
}