@model IEnumerable<WebApp.EFModels.Category>

<div class="hero section">
    <img class="img-fluid" src="~/assets/HeroImage.jpeg" />
    <div class="hero-heading">
        <h2>Learn Software Development at <strong>CodeStack</strong></h2>
        <a id="HeroRegisterButton" class="btn btn-outline-info btn-lg text-light hero-register-button">Register</a>
    </div>
</div>